# NIOS II EDS stuff.
.metadata/
RemoteSystemsTempFiles/
obj/
*.a
*.elf
*.map
*.objdump
*_bsp/HAL/
*_bsp/drivers/
*_bsp/*.h
*_bsp/*.c
*_bsp/*.x
*_bsp/*.html
*_bsp/*.gdb
*_bsp/*.mk
*_bsp/Makefile
*_bsp/.force_relink
